[Unit]
Description=Redis on port 7004

[Service]
Type=forking
ExecStart=/etc/init.d/redis_7004 start
ExecStop=/etc/init.d/redis_7004 stop

[Install]
WantedBy=multi-user.target
