MySQL-python
south
raven
python-memcached
django-debug-toolbar
six
redis
requests
threadpool
python-crontab
beautifulsoup4
rq
selenium
selenium-requests
pytest-django
jinja2
lxml
html5lib
pandas
supervisor
numpy
scipy
scikit-learn
chardet
Markdown
uwsgi
gunicorn
greenlet
eventlet
gevent
django-smtp-ssl
Django==1.4.15
pillow
