
raven
python-memcached
django-debug-toolbar
six
redis
requests
threadpool
python-crontab
beautifulsoup4
rq
selenium
selenium-requests
pytest-django
pytest-timeout
jinja2
lxml
html5lib
pandas
supervisor
numpy
scipy
scikit-learn
chardet
Markdown
gunicorn
greenlet
eventlet
gevent
django-smtp-ssl
django-smart-autoregister
pillow

#storage
mongoengine
MySQL-python

Django==1.8
